---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="text-3xl xl:text-4xl font-bold max-w-2xl xl:max-w-4xl">
    <h1 class="text-neutral-400 dark:text-neutral-500 pb-2">
      Rust Saiargaliev
    </h1>

    <h2>
      <span class="block">
        A software engineer with a curiosity for technology, a passion for open-source contributions,
        and a care about code quality.
      </span>
      <span class="block">
        Senior Full-Stack Engineer at <a href="https://voiio.de" target="_blank"
                                         class="text-neutral-400 dark:text-neutral-500">voiio</a>.
      </span>
    </h2>
  </div>

  <div class="flex flex-col lg:flex-row max-w-2xl xl:max-w-4xl lg:gap-10">
    <div class="min-w-min">
      <h3 class="pt-8 pb-2 font-bold text-neutral-400 dark:text-neutral-500">Experience</h3>
      <ul>
        <li class="font-bold">
          Senior Full Stack Engineer, <span class="text-neutral-400 dark:text-neutral-500">
          <a href="https://voiio.de" target="_blank">voiio</a><span class="hidden md:inline">, </span>
          <span class="block md:inline" title="2+ years">2021-now</span></span>
        </li>
        <li class="font-bold">
          Senior Software Engineer, <span class="text-neutral-400 dark:text-neutral-500">
          <a href="https://thermondo.de" target="_blank">Thermondo</a><span class="hidden md:inline">, </span>
          <span class="block md:inline" title="5 years">2016-2021</span></span>
        </li>
        <li class="font-bold">
          Web Developer, <span class="text-neutral-400 dark:text-neutral-500">
          <a href="https://smena.space" target="_blank">SMENA</a><span class="hidden md:inline">, </span>
          <span class="block md:inline" title="2 years">2013-2015</span></span>
        </li>
        <li class="font-bold">
          Security Engineer,
          <span class="text-neutral-400 dark:text-neutral-500">
            <a href="https://bashneft.ru/" target="_blank">Bashneft</a><span class="hidden md:inline">, </span>
            <span class="block md:inline" title="8 months">2013</span>
          </span>
        </li>
        <li class="font-bold">
          Information Security Bachelor,
          <span class="text-neutral-400 dark:text-neutral-500">
            <a href="https://ugatu.su/en/" target="_blank">USATU</a><span class="hidden md:inline">, </span>
            <span class="block md:inline" title="5 years">2008-2013</span>
          </span>
        </li>
      </ul>
    </div>
    <div class="min-w-min">
      <h3 class="pt-8 pb-2 font-bold text-neutral-400 dark:text-neutral-500">Links</h3>
      <ul>
        <li class="font-bold"><a href="/cv">Full CV</a></li>
        <li class="font-bold"><a href="https://github.com/amureki" target="_blank">GitHub</a></li>
        <li class="font-bold"><a href="https://linkedin.com/in/amureki" target="_blank">LinkedIn</a></li>
        <li class="font-bold"><a href="https://stackoverflow.com/users/2024807/amureki" target="_blank">Stack
          Overflow</a>
        </li>
        <li class="font-bold"><a href="https://twitter.com/amureki" target="_blank">Twitter</a></li>
        <li class="font-bold"><a href="https://www.instagram.com/amureki" target="_blank">Instagram</a></li>

      </ul>
    </div>
  </div>

  <h3 class="pt-8 lg:pt-4 pb-2 font-bold text-neutral-400 dark:text-neutral-500">Side Hustles</h3>
  <ul>
    <li class="font-bold"><a href="https://limethat.com/" target="_blank"
                                  title="Stack: Django, Lit, Heroku, PostgreSQL, Redis">Limethat</a>,
      <span class="text-neutral-400 dark:text-neutral-500">2021-now</span>
    </li>
    <li class="font-bold"><a href="https://emojipatterns.amureki.me/" target="_blank"
                                  title="Stack: Lit, SVG, Vite, Vercel, ðŸ« ðŸ”¥ðŸ˜ðŸ‘">Emoji
      Patterns</a>,
      <span class="text-neutral-400 dark:text-neutral-500">2023</span>
    </li>
    <li class="font-bold"><a href="https://loot.amureki.me/" target="_blank"
                                  title="Stack: Django, fly.io, PostgreSQL">Loot Log</a>,
      <span class="text-neutral-400 dark:text-neutral-500">2023</span>
    </li>
  </ul>

</BaseLayout>

