<!DOCTYPE html>
<html lang="en" class="antialiased leading-tight">

<head>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.png"/>
  <link rel="preload" href="/fonts/inter/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/inter/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/inter/Inter-Italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/inter/Inter-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/inter/Inter-SemiBold.woff2" as="font" type="font/woff2" crossorigin>

  <link rel="preload" href="/fonts/inter/inter.css" as="style">
  <link rel="preload" href="/styles.css" as="style">

  <link rel="stylesheet" href="/fonts/inter/inter.css">
  <link rel="stylesheet" href="/styles.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description"
        content="A software engineer with a curiosity for technology, a passion for open-source contributions, and a care about code quality."/>
  <title>Rust Saiargaliev</title>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Rust Saiargaliev">
  <meta property="og:description"
        content="A software engineer with a curiosity for technology, a passion for open-source contributions, and a care about code quality.">
  <meta property="og:image" content="https://amureki.me/og.png">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Rust Saiargaliev">
  <meta name="twitter:description"
        content="A software engineer with a curiosity for technology, a passion for open-source contributions, and a care about code quality.">
  <meta name="twitter:image" content="https://amureki.me/og.png">
  <meta name="google-site-verification" content="CWhzutd5nWmcBYN-YovNFFM6vZyTpeS6DCjiGSBOOL4" />
  <script defer src="https://umami.mr3k.de/script.js" data-website-id="f9969ea9-2804-4e29-82f4-bddb955b68a4"></script>
</head>

<body class="bg-gray-50 text-neutral-900 dark:bg-gray-950 dark:text-neutral-100">
<main class="py-16 md:py-24 lg:py-30 px-6 sm:px-10 lg:px-20 xl:px-40 max-w-screen-xl overflow-x-hidden">
  {% block content %} {% endblock %}
</main>
</body>
</html>
