{% extends "base.html" %} {% block content %}
  <section>
    <h3>Work</h3>
    <ul>
      <li>
        Lead Software Engineer at <a href="https://voiio.de" target="_blank" class="external-link">voiio</a>, <span
        class="year">2021–present</span>
      </li>
    </ul>
  </section>

  <section>
    <h3>Sides</h3>
    <ul>
      <li>
        Maintainer of <a href="https://github.com/model-bakers/model_bakery" target="_blank" class="external-link">Model
        Bakery</a>, <span class="year">2018–present</span>
      </li>
      <li>
        <a href="https://github.com/amureki/metabase-explorer" target="_blank" class="external-link">Metabase
          Explorer</a>, <span class="year">2025</span>
      </li>
      <li>
        <a href="https://limethat.com/" target="_blank" class="external-link">Limethat</a>, <span class="year">2021–present</span>
      </li>
    </ul>
  </section>

  <section>
    <h3>Connect</h3>
    <ul>
      <li>
        <a href="https://github.com/amureki" target="_blank" class="external-link">GitHub</a>, <span class="year">2011–present</span>
      </li>
      <li>
        <a href="https://linkedin.com/in/amureki" target="_blank" class="external-link">LinkedIn</a>, <span
        class="year">2015–present</span>
      </li>
      <li>
        <a href="https://stackoverflow.com/users/2024807/amureki" target="_blank" class="external-link">Stack
          Overflow</a>, <span class="year">2013–present</span>
      </li>
      <li>
        <a href="https://twitter.com/amureki" target="_blank" class="external-link">Twitter</a>, <span class="year">2009–present</span>
      </li>
    </ul>
  </section>
{% endblock content %}
