{% extends "base.html" %}

{% block content %}
  <div class="max-w-2xl xl:max-w-4xl">
    <header>
  <span class="text-neutral-400 dark:text-neutral-500">
    <a href="/">Rust Saiargaliev</a>
     /
  </span>
      <span class="text-neutral-900 dark:text-neutral-100">
    {{ page.date }}
  </span>
    </header>
    <article class="
                    max-w-2xl xl:max-w-4xl
                    prose dark:prose-invert
                    prose-h1:text-3xl xl:prose-h1:text-4xl
                    prose-h1:mb-0 prose-h1:mt-2
                    prose-h1:font-bold
      ">
      {{ page.content | safe }}
    </article>

    <footer class="pt-10 font-normal text-neutral-500 text-xs lg:text-sm dark:text-neutral-500">
      <p>
        <b><a href="{{ get_url(path='/') }}">Rust Saiargaliev</a></b> is a Software Engineer at voiio,
        working mainly with Python and Django and based in Berlin.
        He is passionate about open-source contributions and code quality.
        When he is not coding, you can find him photographing the world around him
        or playing video games.
      </p>
      <a href="{{ get_url(path='@/notes/_index.md') }}" class="block pt-8">
        ← Back to notes
      </a>
    </footer>
  </div>
{% endblock content %}
