{% extends "base.html" %}

{% block content %}
  <div class="max-w-2xl xl:max-w-4xl">
    <header>
      <h1>
        <span class="text-neutral-400 dark:text-neutral-500">
          <a href="/" rel="author">Rust Saiargaliev</a>
           /
        </span>
        <time datetime="{{ page.date }}">{{ page.date }}</time>
      </h1>
    </header>
    <article class="
                    max-w-2xl xl:max-w-4xl
                    prose dark:prose-invert
                    prose-h1:text-3xl xl:prose-h1:text-4xl
                    prose-h1:mb-0 prose-h1:mt-2
                    prose-h1:font-bold
      ">
      {{ page.content | safe }}
    </article>

    <div class="pt-10">
      <a href="{{ get_url(path='@/notes/_index.md') }}" class="text-neutral-500 dark:text-neutral-400">
        ← Back to notes
      </a>
      <a href="{{ get_url(path='@/tip.md') }}" class="text-neutral-500 dark:text-neutral-400 float-right">
        Say thanks 🙏→
      </a>
    </div>

    <footer class="pt-10 font-normal text-neutral-500 text-xs lg:text-sm dark:text-neutral-500">
      <p>
        My name is <b><a href="{{ get_url(path='/') }}">Rust Saiargaliev</a></b>, and I am a Software Engineer at voiio,
        working mainly with Python and Django and based in Berlin.
        I am passionate about open-source contributions and code quality.
        When I am not coding, you can find me photographing the world around
        or playing video games.
      </p>
    </footer>
  </div>
{% endblock content %}
