{% extends "base.html" %}

{% block content %}
  <div class="max-w-2xl xl:max-w-4xl">
    {% for year, notes in section.pages | group_by(attribute="year") %}
      <h2 class="year-heading">{{ year }}</h2>
      <ul class="article-list">
        {% for note in notes %}
          <li class="nav-item">
            <a href="{{ note.permalink | safe }}">{{ note.title }}</a>,
            <time datetime="{{ note.date }}" class="article-date">{{ note.date }}</time>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
{% endblock content %}
