{% extends "base.html" %}

{% block content %}
  <div class="max-w-3xl xl:max-w-4xl">
    <h1>
      <span class="text-neutral-400 dark:text-neutral-500">
        <a href="/">Rust Saiargaliev</a>
         /
      </span>
      <span class="title-page">{{ page.title }}</span>
    </h1>
    <div class="
                    max-w-3xl xl:max-w-4xl
                    pt-8
                    prose dark:prose-invert
                    prose-h2:m-0
                    prose-h2:text-lg
                    prose-h2:text-neutral-400 dark:prose-h2:text-neutral-500
                    prose-p:mb-1
                    prose-hr:my-3
        ">
      {{ page.content | safe }}
    </div>
  </div>
{% endblock content %}
