{% extends "base.html" %} {% block content %}
  <section>
    <h3>Experience</h3>
    <ul>
      <li>Lead Software Engineer at <a href="https://voiio.de" target="_blank" class="external-link">voiio</a>, <span
        class="year">2021–present</span></li>
      <li>Senior Software Engineer at <a href="https://thermondo.de" target="_blank" class="external-link">thermondo</a>,
        <span class="year">2016–2021</span></li>
      <li>Web Developer at <a href="https://smena.space" target="_blank" class="external-link">SMENA</a>, <span
        class="year">2013–2015</span></li>
      <li>Security Engineer at <a href="https://bashneft.ru" target="_blank" class="external-link">Bashneft</a>, <span
        class="year">2013</span></li>
    </ul>
  </section>

  <section>
    <h3>Sides</h3>
    <ul>
      <li>Maintainer of <a href="https://github.com/model-bakers/model_bakery" target="_blank" class="external-link">Model
        Bakery</a>, <span class="year">2018–present</span></li>
      <li><a href="https://github.com/amureki/metabase-explorer" target="_blank" class="external-link">Metabase
        Explorer</a>, <span class="year">2025</span></li>
      <li><a href="https://limethat.com/" target="_blank" class="external-link">Limethat</a>, <span class="year">2021–present</span>
      </li>
      <li><a href="https://emoji.amureki.me/" target="_blank" class="external-link">Emoji Patterns</a>, <span
        class="year">2023</span></li>
    </ul>
  </section>

  <section>
    <h3>Community</h3>
    <ul>
      <li>Moderated <a href="https://t.me/pydjango" target="_blank" class="external-link">@pydjango</a> Telegram
        channel, <span class="year">6000 members</span></li>
      <li>Founded <a href="https://t.me/django_jobs" target="_blank" class="external-link">@django_jobs</a> Telegram
        channel, <span class="year">4000 members</span></li>
      <li>Co-organized and talked at <a href="https://www.meetup.com/de-DE/django-user-group-berlin/" target="_blank"
                                        class="external-link">DUG</a> and <a
        href="https://www.meetup.com/python-users-berlin-pub/" target="_blank" class="external-link">PUG</a> Berlin
        meetups
      </li>
    </ul>
  </section>

  <section>
    <h3>Education</h3>
    <ul>
      <li>Engineer's degree at <a href="https://uust.ru/en" target="_blank" class="external-link">Ufa State Aviation
        Technical University</a>, <span class="year">2008–2013</span></li>
    </ul>
  </section>

  <p>
    <a href="/cv/">Full CV →</a>
  </p>
{% endblock content %}
