---
layout: layouts/base.njk
---
<div class="flex items-center justify-center {% if page.fileSlug == 'cv' %}h-full{% else %}h-screen{% endif %}">

  <div class="p-10">

    <div class="">

      <h1>
        <a href="{{ '/' | url }}">{{ metadata.title }}</a>
        /
        {% if page.fileSlug == 'cv' %}
          Software Engineer
        {% else %}
          {{ title }}
        {% endif %}
      </h1>

      {{ content | safe }}

    </div>

  </div>

</div>

