---
layout: layouts/base.njk
---
<div class="flex items-center justify-center h-full">

  <div class="p-10">

    <div class="">

      <h1>
        <a href="{{ '/' | url }}">{{ metadata.title }}</a>
        /
        <a href="{{ '/posts' | url }}">Posts</a>
        /
        <br>
        {{ title }}
      </h1>

      {{ content | safe }}

      <hr/>

      <h2>Navigation</h2>
      <ul>
        {% set nextPost = collections.posts | getNextCollectionItem(page) %}
        {% if nextPost %}
          <li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>
        {% endif %}
        {% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
        {% if previousPost %}
          <li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>
        {% endif %}
      </ul>

    </div>

  </div>

</div>
