---
import '../styles/tailwind.css';
---
<html lang="en" class="antialiased leading-tight">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.png"/>
  <link rel="preload" href="/fonts/inter/inter.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="generator" content={Astro.generator}/>
  <meta name="description" content="A software engineer with a curiosity for technology, a passion for open-source contributions, and a care about code quality."/>
  <title>Rust Saiargaliev</title>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Rust Saiargaliev">
  <meta property="og:description" content="A software engineer with a curiosity for technology, a passion for open-source contributions, and a care about code quality.">
  <meta property="og:image" content="https://amureki.me/logo.png">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Rust Saiargaliev">
  <meta name="twitter:description" content="A software engineer with a curiosity for technology, a passion for open-source contributions, and a care about code quality.">
  <meta name="twitter:image" content="/logo.png">
</head>
<body class="bg-neutral-100 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100">
<main class="pt-40 pb-28 px-10 lg:px-20 xl:px-40 max-w-screen-xl overflow-x-hidden">
  <slot/>
</main>
</body>
</html>
